* {
  font-family: JetBrainsMono, FontAwesome, sans-serif;
  font-size: 10px;
  transition: ease 0.05s;
  padding: 0px 2px 0px 2px;
  border-radius: 0;
  min-height: 0;
  background: #000000;
  color: #929292;
}

window#waybar {
  transition: background-color 0.5s;
}

#workspaces button {
  border-width: 0;
  background: transparent;
  font-size: 10px;
  box-shadow: none;
}

.modules-left {
  margin-left: 5px;
}

.modules-right {
  margin-right: 5px;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-mic,
#tray {
  padding: 0px 10px 0px 10px;
}

#cpu:hover,
#network:hover,
#pulseaudio:hover,
#custom-mic:hover,
#workspaces button:hover {
  color: #c4746e;
  font-size: 10px;
  background: transparent;
}

#battery.warning {
  color: #ffa500;
}

#battery.critical {
  color: #ff0000;
}
