* {
  font-family: JetBrainsMono, FontAwesome, sans-serif;
  font-size: 10px;
  transition: ease 0.05s;
  padding: 0px 2px 0px 2px;
  border-radius: 0;
  min-height: 0;
  background: transparent;
  color: #e6e6dc;
  /* margin-bottom: 1px; */
}

#workspaces button {
  border-width: 0;
  background: transparent;
  font-size: 10px;
  box-shadow: none;
  transition: none;
}

tooltip {
  background: #000000;
  color: #e6e6dc;
}

.modules-left,
.modules-right,
.modules-center {
  background: #000000;
  border-radius: 8px;
  padding: 2px 0px 2px 0px;
  border: solid 1px #fff;
}

.modules-left {
  margin-left: 2px;
}

.modules-right {
  margin-right: 2px;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-mic,
#tray,
#bluetooth,
#custom-windows,
#submap,
#workspaces {
  padding: 0px 8px 0px 8px;
}

#cpu:hover,
#network:hover,
#pulseaudio:hover,
#custom-mic:hover,
#workspaces button:hover {
  color: #c4746e;
  font-size: 10px;
  background: transparent;
}

#battery.warning {
  color: #ffa500;
}

#battery.critical {
  color: #ff0000;
}
