* {
    font-family: JetBrainsMono, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 10px;
    transition: background-color .3s ease-out;
    margin: 2px 2px 0px 2px;
    padding: 0px 2px 0px;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: #ffffff;
    transition: background-color .5s;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#hyprland-workspaces {
  background: #1F1D2E;
  border-radius: 5px;
  padding: 0px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #9399b2;
}

#workspaces button {
    background: #1F1D2E;
    color: #cacaca;
    padding: 0px 2px 1px 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #9399b2;
}

#workspaces button.active {
    background: #9399b2;
    color: #000000;
}

#battery.warning {
    color: #ffa500;
}

#battery.critical {
    color: #ff0000;
}
